*{
    margin-top: 15px;
}

body{
    animation: gradient 10s ease infinite;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab) no-repeat;
    background-size: 300% 300%;
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

.container{
    width: 500px;
    height: 400px;
    border:10px solid #fcfeff;
    border-radius: 10px 0px 10px 0px;
}

.box{
    bottom: 420px;
    right: 100px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    position: relative;

}

.box img{

    position: relative;
    right: 50px;
    bottom: 40px;
    width: 200;
}

.box img:hover{
    animation: bounce 1s
}

@keyframes bounce {
    0%, 20%, 60%, 100%{
        -webkit-transform: translate(0);;
        transform: translate(0);
    }
    40% {
        -webkit-transform: translate(-20px);
        transform: translate(-20px);
    }
    80% {
        -webkit-transform: translate(-10px);
        transform: translate(10px);
    }
}

.box1{
    bottom: 410px;
    right: 100px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    position: relative;

}

.box1 img{

    position: relative;
    right: 50px;
    bottom: 40px;
    width: 200;
}

.box1 img:hover{
    animation: bounce 1s
}

.box2{
    bottom: 400px;
    right: 100px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 5px solid #ffffff;
    position: relative;

}

.box2 img{

    position: relative;
    right: 50px;
    bottom: 40px;
    width: 200;
}

.box2 img:hover{
    animation: bounce 1s
}
